.top-box
  - if session[:user_id]
    %h1 You are logged in!
  - else
    %h1 Login and start cursing.

  - if flash[:alert]
    %h2.notice= flash[:alert]

  - if flash[:notice]
    %h2.notice= flash[:notice]

  - if session[:user_id]
    = button_to 'Logout', logout_path, method: :delete, :class => 'form-submit'
  - else
    = form_tag do
      %fieldset.form
        .field
          = label_tag :name, 'Name', :class => 'form-label'
          = text_field_tag :name, params[:name], :class => 'form-text'
        .field
          = label_tag :password, 'Password', :class => 'form-label'
          = password_field_tag :password, params[:password], :class => 'form-text'
        .field
          = submit_tag 'Login', :class => 'form-submit'
