.insult
  .voting-arrows
    - if (user_vote(insult) == 'up')
      = form_tag('/unvote', :method => 'delete') do
        = hidden_field_tag(:insult, insult.id)
        = hidden_field_tag(:redirect, request.fullpath)
        = submit_tag('', :class => 'up-arrow-on', :disabled => !current_user)
    - else
      = form_tag('/vote', :method => 'post') do
        = hidden_field_tag(:insult, insult.id)
        = hidden_field_tag(:value, 'up')
        = hidden_field_tag(:redirect, request.fullpath)
        = submit_tag('', :class => 'up-arrow-off', :disabled => !current_user)
    %span.rating= insult.points
    - if (user_vote(insult) == 'down')
      = form_tag('/unvote', :method => 'delete') do
        = hidden_field_tag(:insult, insult.id)
        = hidden_field_tag(:redirect, request.fullpath)
        = submit_tag('', :class => 'down-arrow-on', :disabled => !current_user)
    - else
      = form_tag('/vote', :method => 'post') do
        = hidden_field_tag(:insult, insult.id)
        = hidden_field_tag(:value, 'down')
        = hidden_field_tag(:redirect, request.fullpath)
        = submit_tag('', :class => 'down-arrow-off', :disabled => !current_user)
  .insult-body
    %h3= insult.insult
    - if insult.user
      %span.author!= "Submitted by <a href='#{user_path(insult.user.id)}'>#{insult.user.name}</a>"
    - else
      %span.author Submitted by Anonymous
    %a.flag{:href => '#'} Flag
    - if current_user && insult.user == current_user
      =link_to 'Delete', delete_insult_path(insult), method: :delete, class: 'delete'