.top-box
  %h1 The crowdsourced engine of world-class insults.
  = form_for @insult do |f|
    %h2.insult-notice= notice
    = f.text_area :insult, :class => 'insult-box', :placeholder => "Go on, insult us."
    .insult-submit
      %h2 *We are equal opportunity insult-artists. Please make sure your insult can apply to all humans, regardless of religion, race, or gender.*
      - if current_user
        = f.submit 'Submit', :class => 'form-submit'
      - else
        = f.submit 'Submit Anonymously', :class => 'form-submit'
- if (alert)
  %span.vote-notice= alert
.insults
  =render(:partial => "./partials/insult", :collection => @insults, :as => :insult)
