.submit-insult-box
  %h1 The crowdsourced engine of world-class insults.
  = form_for @insult do |f|
    %h2.insult-notice= notice
    = f.text_area :insult, :class => 'insult-box', :placeholder => "Go on, insult us."
    .insult-submit
      %h2 *We are equal opportunity insult-artists. Please make sure your insult can apply to all humans, regardless of religion, race, or gender.*
      - if current_user
        = f.submit 'Submit', :class => 'insult-submit-button'
      - else
        = f.submit 'Submit Anonymously', :class => 'insult-submit-button'
- if (alert)
  %span.vote-notice= alert
.insults
  - @insults.each do |insult|
    .insult
      .voting-arrows
        = form_tag('/vote', :method => 'post') do
          = hidden_field_tag(:insult, insult.id)
          = hidden_field_tag(:value, 'up')
          = submit_tag('', :class => 'up-arrow-off', :disabled => !current_user)
        %span.rating= insult.points
        = form_tag('/vote', :method => 'post') do
          = hidden_field_tag(:insult, insult.id)
          = hidden_field_tag(:value, 'down')
          = submit_tag('', :class => 'down-arrow-off', :disabled => !current_user)
      .insult-body
        %h3= insult.insult
        - if insult.user
          %span.author!= "Submitted by <a href='#'>#{insult.user.name}</a>"
        - else
          %span.author Submitted by Anonymous
        
        %a.flag{:href => '#'} Flag
