= form_for @insult do |f|
  - if @insult.errors.any?
    #error_explanation
      %h2= "#{pluralize(@insult.errors.count, "error")} prohibited this insult from being saved:"
      %ul
        - @insult.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :insult
    = f.text_field :insult
  .actions
    = f.submit 'Save'
