%h1 Listing insults

%table
  %tr
    %th Insult
    %th Points
    %th User
    %th Is flagged
    %th
    %th
    %th

  - @insults.each do |insult|
    %tr
      %td= insult.insult
      %td= insult.points
      - if insult.user
        %td= insult.user.name
      - else
        %td Anonymous
      %td= insult.is_flagged
      %td= link_to 'Show', insult
      %td= link_to 'Edit', edit_insult_path(insult)
      %td= link_to 'Destroy', insult, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Insult', new_insult_path
