%p#notice= notice

%p
  %b Insult:
  = @insult.insult
%p
  %b Points:
  = @insult.points
%p
  %b User:
  - if @insult.user
    = @insult.user.name
  - else
    Anonymous
%p
  %b Is flagged:
  = @insult.is_flagged

= link_to 'Edit', edit_insult_path(@insult)
\|
= link_to 'Back', insults_path
