!!! 5
%html
  %head
    %title Collaborative Cursing
    %link{:href => 'http://fonts.googleapis.com/css?family=Arvo:400,400italic,700|Alegreya+SC', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{'data-controller' => controller_name.capitalize, 'data-action' => action_name.downcase}
    .wrapper
      %header.sidebar
        %a.logo{:href => root_path}
        %span
        %ul.user-info
          -if current_user
            %li.points
              %p= current_user.points
            %li
              =link_to current_user.name, user_path(current_user.id)
            %li.logout
              =link_to 'Logout', logout_path, method: :delete, class: 'logout'
          -else
            %li
              =link_to 'Sign Up', sign_up_path
            %li.or
              %p or
            %li
              =link_to 'Login', login_path
        %nav.main-nav
          %ul
            %li{:class => current_nav_item('top')}
              %a{:href => '/top'} TOP RATED
            %li{:class => current_nav_item('new')}
              %a{:href => '/new'} NEWEST
            -if current_user
              %li{:class => current_nav_item('mine')}
                %a{:href => '/mine'} MINE
        .footer
          %p Furiously formed by <a href='http://redhotvengeance.com/' target='_blank'>Red Hot Vengeance</a>
          %p Copyright 2012
      .content
        = yield
